@import "bootstrap-4.3.1/bootstrap.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/regular.scss";

$lightblue: #0099CC;
$black: #333333;
$lightcyan: #CCFFFF;

body{
    a{
    color: white;
    text-decoration: none;
    }
}

.clear {
    clear: both;
}
.tablecell{
    display: table-cell;
}
.displaytable{
    display: table;
}
.verticalmiddle{
    vertical-align: middle;
}
.testback{
    background-color: $lightblue;
}
.floatright{
    float: right;
}
.floatleft{
    float: left;
}
.bold{
    font-weight: bold;
}
.textleft{
    text-align: left;
}
.textright{
    text-align: right;
}
.center{
    text-align: center;
}
.inline{
    display: inline-block;
}
.block{
    display: block;
}

.causelist-wrapper{
   
    color: $black;
    margin-top: 20px;
    margin-bottom: 10px;

}
.causelistitem-wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
    color: $black;
    width: 100%;
}
.causelistcolumnsmall{
    width: 15%;
}
.causelistcolumnlarge{
    width: 20%;
}
.causelistheaderitem-style{
    background-color: $black !important;
    color: white !important;
    font-weight: bold !important;
}
.evenitem-style{
    background-color: white;
    color: $black;
    font-weight: normal;
}
.unevenitem-style{
    background-color: $lightcyan;
    color: $black;
    font-weight: normal;
}
.mainbar-wrapper {
    width: 75%;
    padding: 10px;
}
.sidebar-wrapper{
    background-color: #CCFFFF;
    padding: 10px;
    width: 25%;
    margin-top:10px;
}
.sidebarheader{
    background-color: $black;
    color: white;
    font-size: 1.5em;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;

}
.sidebaritem-wrapper{
    background-color: white;
    
}
.quicklinkitem-wrapper{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
}
.firstcircle{
    color:red;
    vertical-align: top;
    margin-top:5px;
    margin-right:5px;
}
.secondcircle{
    color:green;
    vertical-align: top;
    margin-top:5px;
    margin-right:5px;
}
.quicklinktext{
    font-size: 1.2em;
}
.quicklinksecondtext{
    font-size: 1em;
}
.quicklink2-wrapper{
    padding-bottom: 10px;
    margin-top:10px;
}
.quicklink2item-wrapper{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
}
.quicklink2-button{
    margin-top: 10px;
}
.quicklink3-wrapper{
    margin-top: 10px;
}
.quicklink3form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.quicklink3-button{
    width: 100%;
}
.footer-wrapper{
    background-color: $black;
    color: White;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}


/////////////////////HOME2 START///////////////////////

.sidebar2-wrapper{
    background-color: $black;
    color:white;
}
.infotext-wrapper{
    color:white;
    margin-top:10px;
    margin-bottom:10px;
}
.accordion-wrapper{
    color:$black;
    margin-bottom: 10px;
}
.accordion-style{
    background-color: $black;
    border: none;
    color:white;
}
.accordionheader{
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.5em;
    background-color: $black;
    
}
.sidebarnav-wrapper{
    
    border-top: 1px solid white;
    padding-top:10px;
    padding-bottom:10px;
}
.sidebarnavitem{
    color:lightgray;
    font-size: 1.2em;
    margin-top: 10px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}












///////////////////TICTACTOE//////////////////



.box{
    width: 25px;
    height: 25px;
    background-color: #0099CC;
    border: 1px solid black;
    float: left;
    text-align: center;
    cursor: pointer;
}
.smallbox{
    width: 50px;
    height: 50px;
    background-color: green;
    border: 1px solid black;
    float: left;
    text-align: center;
    cursor: pointer;
}

.bigbox{
    float: left;
    border: 1px solid white;
}

.numberbox{
    width: 25px;
    height: 25px;
    background-color: green;
    border: 1px solid black;
    float: left;
    text-align: center;
    cursor: pointer;
}
.number-row{
    clear: both;
}
